body {
    background-color: grey;
    align-items: center;
}

.form-control {
    background-color:white;
    max-width: 210px;
    align-items: center;
}

.dañoArma {
    background-color: white;
    max-width: 200px;
    max-height: 100px;
    border-radius: 5px;
}

.fierceBerserkMax, .berserkMax, .groundShake, .whirlwindThrow, .sd, .ice, .dañoDist {
    margin-top: 20px;
    background-color: white;
    max-width: 200px;
    max-height: 100px;
    border-radius: 5px;
    justify-content:first baseline;
}
